<h1>Edit question</h1>

<%= render 'form' %>

<%= link_to 'Back to question', question_path(@question) %>
<%= link_to 'Back to test', test_path(id: @question.test_id) %>

<%= render 'shared/footer' %>
