<h1>
  <% if @test_passage.passed? %>
    <p style="color: green">
      <%= t('.success', title: @test_passage.test.title) %>
    </p>
  <% else %>
    <p style="color: red">
      <%= t('.failure', title: @test_passage.test.title) %>
    </p>
  <% end %>
</h1>
<h2>
  <%= t('.correct_questions_percentage', questions: @test_passage.correct_questions_percentage) %>
</h2>

<%= link_to t('.back_to_tests'), tests_path %>
