<nav class="navbar navbar-light bg-light mx-3">
  <%= link_to t('.project'), root_path, class: 'navbar-brand' %>

  <span class="navbar-brand"><%= t('.admin_panel') %></span>

  <span class="navbar-text">
    <%= t('.hello_message', surname: current_user.surname, name: current_user.name) %> |
    <%= link_to t('.sign_out'), destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-dark text-dark" %>
  </span>
</nav>