<div class="nav nav-admin">
  <span class="nav-admin title"><%= t('.header') %></span>

  <div class="nav-admin user">
    <%= t('.welcome_message', surname: current_user.surname, name: current_user.name) %>
    <%= link_to t('.sign_out'), destroy_user_session_path, data: { turbo_method: :delete } %>
  </div>
</div>