<tr>
  <td><%= link_to truncate(gist.question.body, length: 25), admin_question_path(gist.question) %></td>
  <td><%= gist.author.email %></td>
  <td><%= link_to gist.url, gist.url, target: "_blank" %></td>
  <td>
    <%= button_to t('admin.gists.index.table.delete'),
                  admin_gist_path(gist),
                  method: :delete,
                  form: {
                    data: {
                      turbo_confirm: t('admin.tests.test.confirm')
                    }
                  },
                  class: "btn btn-danger"
    %>
  </td>
</tr>