<div class="card text-center stick-to-bottom">
  <div class="card-footer text-body-secondary">
    <nav>
      The <a href=<%= github_url('PrimusInterPares', 'TestGuru') %>>Test Guru project</a> by Alexey Kruglov,
      study project in online-school <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank' %>
    </nav>
    <small>
      <%= current_year %>
    </small>
  </div>
</div>

<style>
    .stick-to-bottom {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
    }
</style>