<footer class="footer">
  <nav>
    The <a href=<%= github_url('PrimusInterPares', 'TestGuru') %>>Test Guru project</a> by Alexey Kruglov,
    study project in online-school <%= link_to 'Thinknetica', 'https://thinknetica.com', target: '_blank' %>
  </nav>
  <small>
    <%= current_year %>
  </small>
</footer>