<tr>
  <td><%= answer.body %></td>
  <td><%= button_to t('.show'), admin_answer_path(answer) %></td>
  <td><%= button_to t('.edit'), edit_admin_answer_path(answer) %></td>
  <td>
    <%= button_to t('.delete'),
                  admin_answer_path(answer),
                  method: :delete,
                  form: {
                    data: {
                      turbo_confirm: t('.confirm')
                    }
                  },
                  class: "btn btn-danger"
    %>
  </td>
</tr>
