<tr>
  <td><%= question.body %></td>
  <td><%= button_to t('.show'), admin_question_path(question) %></td>
  <td><%= button_to t('.edit'), edit_admin_question_path(question) %></td>
  <td>
    <%= button_to t('.delete'),
                  admin_question_path(question),
                  method: :delete,
                  form: {
                    data: {
                      turbo_confirm: t('.confirm')
                    }
                  },
                  class: "btn btn-danger"
    %>
  </td>
</tr>